@media only screen and (min-width: 641px){
    article{
        column-count: 2;
        column-gap: 30px;
        column-rule: 2px solid rgb(255, 0, 0);

        widows: 3;
        orphans: 3;
    }
    article h1{
        column-span: all;
    }
}